interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic dmlhYUB0ZXN0YmVlbGQ6dmlhdHdlZWR1dXNkMzMk
      Content-Type:
      - application/json
    method: GET
    uri: https://archief-qas.viaa.be/mediahaven-rest-api/resources/media?q=+(originalFileName:qsxs5jbm5c_closed.srt)&startIndex=0&nrOfResults=25
  response:
    body:
      string: "{\"totalNrOfResults\":1,\"startIndex\":0,\"mediaDataList\":[{\"mediaObjectId\":\"0435da5810454be19a820d6aa221e25efcd2fd3762c142c1b38f83acb8a3b621\",\"fragmentId\":\"0435da5810454be19a820d6aa221e25efcd2fd3762c142c1b38f83acb8a3b6214d24b9072d744e87a52db37deb24a7dd\",\"externalId\":\"qsxs5jbm5c_closed\",\"title\":\"qsxs5jbm5c_closed.srt\",\"description\":\"\",\"date\":\"2020:12:15
        18:27:40\",\"previewImagePath\":\"https://mheuropehot.blob.core.windows.net/mediahaven-saas-browse-main/no-preview.png\",\"thumbnailImagePath\":\"https://mheuropehot.blob.core.windows.net/mediahaven-saas-browse-main/no-preview.png\",\"videoPath\":\"\",\"originalFileName\":\"qsxs5jbm5c_closed.srt\",\"width\":0,\"height\":0,\"keywords\":[],\"type\":\"Document\",\"authors\":[],\"lastModifiedDate\":\"2020-12-15T17:27:44Z\",\"archiveDate\":\"2020-12-15T17:27:40Z\",\"exportable\":true,\"editable\":true,\"deletable\":true,\"isPublic\":true,\"ingestSpaceId\":\"\",\"isInIngestSpace\":false,\"status\":\"FINISHED\",\"browseStatus\":\"no_browse\",\"originalStatus\":\"completed\",\"archiveStatus\":\"in_progress\",\"workflow\":\"\",\"mdProperties\":[{\"value\":[{\"value\":\"qsxs5jbm5c\",\"attribute\":\"is_verwant_aan\",\"dottedKey\":null}],\"attribute\":\"dc_relations\",\"dottedKey\":null},{\"value\":\"OR-h41jm1d\",\"attribute\":\"CP_id\",\"dottedKey\":null},{\"value\":\"qsxs5jbm5c_closed\",\"attribute\":\"PID\",\"dottedKey\":null},{\"value\":\"testbeeld\",\"attribute\":\"CP\",\"dottedKey\":null},{\"value\":\"\xA9
        testbeeld\",\"attribute\":\"RightsOwner\",\"dottedKey\":null},{\"value\":\"2020:12:15
        18:27:40+01:00\",\"attribute\":\"CreationDate\",\"dottedKey\":null}],\"relations\":{}}]}"
    headers:
      Content-Type:
      - application/json
      X-Correlation-ID:
      - 15da68070fae967d005d755a7afbfbf9
      X-MediaHavenVersion:
      - '20.3'
      X-RateLimit-Limit-second:
      - '10'
      X-RateLimit-Remaining-second:
      - '9'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Authorization:
      - Basic dmlhYUB0ZXN0YmVlbGQ6dmlhdHdlZWR1dXNkMzMk
    method: DELETE
    uri: https://archief-qas.viaa.be/mediahaven-rest-api/resources/media/0435da5810454be19a820d6aa221e25efcd2fd3762c142c1b38f83acb8a3b6214d24b9072d744e87a52db37deb24a7dd
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Correlation-ID:
      - 34eb25823bd61586d222e2bf72c63e45
      X-MediaHavenVersion:
      - '20.3'
      X-RateLimit-Limit-second:
      - '5'
      X-RateLimit-Remaining-second:
      - '4'
    status:
      code: 204
      message: ''
- request:
    body: "--9341bfc013fdbab723e66b0dfd6d4ca7\r\nContent-Disposition: form-data; name=\"file\";
      filename=\"qsxs5jbm5c_closed.srt\"\r\n\r\n\uFEFF1\r\n00:00:01,000 --> 00:00:03,023\r\nTweede
      subtitle test\r\n\r\n2\r\n00:00:03,676 --> 00:00:15,930\r\nGewone tekst hier\r\n\r\n3\r\n00:00:16,972
      --> 00:50:16,350\r\nGewone tekst hier 50 minuten lang ;)\r\n\r\n\r\n\r\n--9341bfc013fdbab723e66b0dfd6d4ca7\r\nContent-Disposition:
      form-data; name=\"metadata\"; filename=\"qsxs5jbm5c_closed.xml\"\r\n\r\n<?xml
      version=\"1.0\" encoding=\"utf-8\"?>\n<MediaHAVEN_external_metadata>\n  <title>qsxs5jbm5c_closed.srt</title>\n
      \ <MDProperties>\n    <CP>testbeeld</CP>\n    <CP_id>OR-h41jm1d</CP_id>\n    <PID>qsxs5jbm5c_closed</PID>\n
      \   <ExternalId>qsxs5jbm5c</ExternalId>\n    <dc_relations>\n      <is_verwant_aan>qsxs5jbm5c</is_verwant_aan>\n
      \   </dc_relations>\n  </MDProperties>\n</MediaHAVEN_external_metadata>\n\r\n--9341bfc013fdbab723e66b0dfd6d4ca7\r\nContent-Disposition:
      form-data; name=\"externalId\"; filename=\"\"\r\n\r\nqsxs5jbm5c_closed\r\n--9341bfc013fdbab723e66b0dfd6d4ca7\r\nContent-Disposition:
      form-data; name=\"departmentId\"; filename=\"\"\r\n\r\ndd111b7a-efd0-44e3-8816-0905572421da\r\n--9341bfc013fdbab723e66b0dfd6d4ca7\r\nContent-Disposition:
      form-data; name=\"autoP[...]
