interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://archief-qas.viaa.be/mediahaven-rest-api/resources/media?q=+(originalFileName:qsxs5jbm5c_closed.srt)&startIndex=0&nrOfResults=25
  response:
    body:
      string: '{"totalNrOfResults":0,"startIndex":0,"mediaDataList":[]}'
    headers:
      Content-Type:
      - application/json
      X-Correlation-ID:
      - 129e578473cfa318dad6c7b5fbcd7a51
      X-MediaHavenVersion:
      - '20.3'
      X-RateLimit-Limit-second:
      - '10'
      X-RateLimit-Remaining-second:
      - '9'
    status:
      code: 200
      message: ''
- request:
    body: "--0ee8b6f98708a7d738f0a8b7c4ded126\r\nContent-Disposition: form-data; name=\"file\";
      filename=\"qsxs5jbm5c_closed.srt\"\r\n\r\n\uFEFF1\r\n00:00:01,000 --> 00:00:03,023\r\nTweede
      subtitle test\r\n\r\n2\r\n00:00:03,676 --> 00:00:15,930\r\nGewone tekst hier\r\n\r\n3\r\n00:00:16,972
      --> 00:50:16,350\r\nGewone tekst hier 50 minuten lang ;)\r\n\r\n\r\n\r\n--0ee8b6f98708a7d738f0a8b7c4ded126\r\nContent-Disposition:
      form-data; name=\"metadata\"; filename=\"qsxs5jbm5c_closed.xml\"\r\n\r\n<?xml
      version='1.0' encoding='UTF-8'?>\n<MediaHAVEN_external_metadata>\n  <title>qsxs5jbm5c_closed.srt</title>\n
      \ <description>Subtitles for item qsxs5jbm5c</description>\n  <MDProperties>\n
      \   <sp_name>borndigital</sp_name>\n    <CP>testbeeld</CP>\n    <CP_id>OR-h41jm1d</CP_id>\n
      \   <PID>qsxs5jbm5c_closed</PID>\n    <external_id>qsxs5jbm5c</external_id>\n
      \   <dc_relations>\n      <is_verwant_aan>qsxs5jbm5c</is_verwant_aan>\n    </dc_relations>\n
      \ </MDProperties>\n</MediaHAVEN_external_metadata>\n\r\n--0ee8b6f98708a7d738f0a8b7c4ded126\r\nContent-Disposition:
      form-data; name=\"externalId\"; filename=\"\"\r\n\r\nqsxs5jbm5c_closed\r\n--0ee8b6f98708a7d738f0a8b7c4ded126\r\nContent-Disposition:
      form-data; name=\"departmentId\"; filename=\"\"\r\n\r\ndd111b7a-efd0-44e3-8816-0905572421da\r\n--0ee8b6f98708a7d738f0a8b7c4ded126\r\nContent-Disposition:
      form-data; name=\"autoPublish\"; filename=\"\"\r\n\r\ntrue\r\n--0ee8b6f98708a7d738f0a8b7c4ded126--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=0ee8b6f98708a7d738f0a8b7c4ded126
    method: POST
    uri: https://archief-qas.viaa.be/mediahaven-rest-api/resources/media/
  response:
    body:
      string: "{\n  \"message\" : \"File already available within MediaHaven for your
        organisation\",\n  \"status\" : 409,\n  \"code\" : \"EDUPLICATE\"\n}"
    headers:
      Content-Type:
      - application/json
      Location:
      - https://archief-qas.viaa.be:443/mediahaven-rest-api/resources/media/90d350224fa34d9b8a48461c5e389fc7996a4faf24af4f9e94efdd31922683dc8e4b6125da4f49448e6946104d114d44
      X-Correlation-ID:
      - 66a5cf985f5e713a275fa08e50cf3bd4
      X-MediaHavenVersion:
      - '20.3'
      X-RateLimit-Limit-second:
      - '5'
      X-RateLimit-Remaining-second:
      - '4'
    status:
      code: 409
      message: ''
version: 1
