body{
  background-color: #efefef; 
  color: #333333;
  margin: auto;
  padding: 0px;
}
h1, h2, h3, h4 {
  color: #007487;
}
a {
  color: #007487;
}
pre {
  background-color: #ddefef;
  border: 1px solid #5ca8af;
  padding: 1em;
  padding-bottom: 0;
  border-radius: 5px;
  padding-bottom: 1.2em;
}
label {
  display:inline-block;
  width: 7em;
  text-align: right;
}
form {
  padding: 0.5em;
  border: 2px solid #007487;
  border-radius: 8px;
  background-color: #fff;
  width: 25em;
}
input {
  margin: 0.5em;
  width: 18em;
  border: 1px solid #007487;
  height: 2em;
  border-radius: 5px;
}
input[type=submit]{
  width: 8em;
  margin-left: 19.2em;
  background-color: #007487;
  color: #fff;
}

.login_page{
  width: 25em;
  margin: auto;
  margin-top: 4em;
}

.opzoeken_page{
  width: 25em;
  margin: auto;
  margin-top: 4em;
}


nav {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #007487;
}

nav .appname {
  font-size: 24px;
}

nav .appname a {
  padding: 1em;
  text-decoration: none;
  padding-right: 0.2em;
}

nav .title {
  font-size: 18px;
}

section.content {
  padding: 1em;
  margin:auto;
  width: 1024px;
}

.form_errors {
  float: right;
  margin-right: 2em;
  color: #aa0000;
}
