{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
Ondertitelbestand
{% endblock %}

{% block content %}


<div class="center_page">
  <h2>Bestand en metadata is verstuurd</h2>

  <div class="box">
    <p>
    Bestand {{subtitle_file}} is verstuurd naar mediahaven voor media item {{pid}}.
    </p>

    <p>
    <a class="grey-button" href="/"> Uitloggen </a>
    <a class="button" href="/search_media?token={{token}}"> Nieuw ondertitelbestand uploaden </a>
    </p>
  </div>

</div>




{% endblock %}
