{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
Login
{% endblock %}

{% block content %}

  <div class="login_page">
  <p>
   Login met je meemoo account om subtitles toe te voegen.

   <form action="/login" method="POST">

      <label>E-mailadres</label>
      <input name="username"/> <br/>

      <label>Wachtwoord</label>
      <input name="password" type="password"/><br/>

      {% if validation_errors %}
      <span class="form_errors">{{validation_errors}}</span>
      {% endif %}

    <input type="submit" value="Login"/>

  </form>

  </p>
  </div>

{% endblock %}


   </body>
</html> 

