{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
Ondertitelbestand
{% endblock %}

{% block content %}

<div class="center_box">
    <h2>Ondertitels en sidecar zijn verstuurd</h2>
    <div class="finished_box">
      <p>
        <table class="video_details">
          <tr><td>PID</td><td>{{pid}}</td></tr>
          <tr><td>Ondertitel type</td><td>{{subtitle_type}}</td></tr>
          <tr><td>Ondertitelbestand</td><td>{{srt_file}}</td></tr>
          <tr><td>Sidecar xml file</td><td>{{xml_file}}</td></tr>
          <tr><td>Sidecar data</td><td><textarea>{{xml_sidecar}}</textarea></td></tr>
          <tr><td>Video url</td><td>{{video_url}}</td></tr>
          <tr><td>Metadata</td><td><textarea>{{mam_data}}</textarea></td></tr>
        </table>
      </p>
      <p>
        <a class="grey-button" href="/"> Uitloggen </a>
        <a class="button" href="/search_media?token={{token}}"> Nieuw ondertitelbestand uploaden </a>
      </p>
    </div>
</div>

{% endblock %}
