{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
Metadata opzoeken
{% endblock %}

{% block content %}

<h1>Metadata met PID opzoeken</h1>
<p>
 <form action="/upload" method="POST">

    <label>PID</label>
    <input name="token" value='{{token}}' type="hidden"/> <!-- supply auth token -->
    <input name="pid"/> <br/>

    {% if validation_errors %}
    <span class="form_errors">{{validation_errors}}</span>
    {% endif %}

  <input type="submit" value="Opzoeken"/>

</form>

</p>

<pre>
TODO toon deze velden na opvraging metadata met pid:

titel
omschrijving
createdatum
</pre>
     </p>

     <p>
je toont video met flowplayer op deze page metadata.
en kan je een subtitle file uploaden.
     </p>

     <p>
effectief submit button die gaat dan met ajax de file zelf uploaden.
dit is ook een mediahaven rest-api call die het bestand zelf er zet.

srt file komt zo op juiste plaats op testbeeld en de rechten

(later is er nog een redactie waarbij iemand iets aanvingt om hem online te zetten).
Meeting met Rudolf of Matthias voor details api's etc.
     </p>



{% endblock %}
