{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
Ondertitels bestand verzenden
{% endblock %}

{% block content %}

<h1>Ondertitels bestand verzenden</h1>
<p>
 <form class="upload_form" action="/upload" method="POST" enctype="multipart/form-data">

    <input name="token" value='{{token}}' type="hidden"/> <!-- supply auth token -->
    <label>PID</label>                <input readonly=readonly name="pid" value='{{pid}}'/> <br/>
    <label>Titel</label>              <input readonly=readonly name="title" value='{{title}}'/> <br/>
    <label>Omschrijving</label>       <textarea readonly=readonly name="description"> {{description}} </textarea> <br/>
    <label>Creatie datum</label>      <input readonly=readonly name="created" value='{{created}}'/> <br/>
    <label>Archiverings datum</label> <input readonly=readonly name="archived" value='{{archived}}'/> <br/>
    <label>Oorspronkelijke CP</label> <input readonly=readonly name="original_cp" value='{{original_cp}}'/> <br/>

    <label>Ondertitels bestand</label> <input name="subtitle_file" type="file"> <br/>

    {% if validation_errors %}
    <span class="form_errors">{{validation_errors}}</span>
    {% endif %}

  <input type="submit" value="Opladen"/>

</form>

</p>

     <p>
TODO: je toont video met flowplayer op deze page metadata.
en kan je een subtitle file uploaden.
     </p>

     <p>
effectief submit button die gaat dan met ajax de file zelf uploaden.
dit is ook een mediahaven rest-api call die het bestand zelf er zet.

srt file komt zo op juiste plaats op testbeeld en de rechten

(later is er nog een redactie waarbij iemand iets aanvingt om hem online te zetten).
Meeting met Rudolf of Matthias voor details api's etc.
     </p>



{% endblock %}
